<div class="container">
  <div class="my-5 text-center" style="background-color: rgba(10,10,10, .8); color: rgb(227,227,227);">
    <h3 class="font-weight-bold text-center p-5">Admin Panel</h3>
  </div>
  <div *ngIf="checkUser() && cronFormGroup">
      <div class="p-5 row" style="background-color: rgba(10,10,10,0.8); color: rgb(227,227,227);" >
        <div class="col-md-5">
          <h4 class="mb-4">Time Intervals:</h4>
          <form [formGroup]="cronFormGroup">
            <div class="mb-5 font-small">
              <label>Basic Measurement Time Interval</label>
              <select formControlName="basicCron" class="custom-select">
                <option *ngFor="let bCron of basicCrons" [ngValue]="bCron">
                  {{bCron.split("/")[1].split(" ")[0]}} min
                </option>
              </select>
            </div>
            <div class="mb-5 font-small">
              <label>Air Measurement Time Interval </label>
              <select formControlName="airCron" class="custom-select">
                <option *ngFor="let aCron of airCrons" [ngValue]="aCron">
                  {{aCron.split("/")[1].split(" ")[0]}} min
                </option>
              </select>
            </div>
            <div class="mt-4">
              <button (click)="submitNewCron()" class="btn btn-outline-light">Submit</button>
            </div>
          </form>

          <h4 class="mb-4 mt-5">Sensors:</h4>
          <form [formGroup]="sensorSettingsFormGroup">
            <div class="mb-5 font-small">
              <label>Temperature Sensor</label>
              <select formControlName="temperature" class="custom-select">
                <option *ngFor="let sensor of tempSensors" [ngValue]="sensor">
                  {{sensor}}
                </option>
              </select>
            </div>
            <div class="mt-4">
              <button (click)="submitNewTempSensor()" class="btn btn-outline-light">Submit</button>
            </div>
          </form>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <h4 class="mb-4">Database:</h4>
          <h6><li>Basic Measurements count: <span class="badge bg-dark mb-3">{{basicCount}}</span></li></h6>
          <h6><li>Air Measurements count: <span class="badge bg-dark mb-3">{{airCount}}</span></li></h6>
          <h6><li>Sum: <span class="badge bg-dark mb-3">{{airCount + basicCount}}</span></li></h6>

        </div>


      </div>

  </div>
  <ng-template #elseBlock>401 Unauthorized</ng-template>


  <div class="container my-5">.</div>
  <div class="container my-5">.</div>
</div>
