
<div class="my-5 text-center" style="background-color: rgba(10,10,10, .8); color: rgb(227,227,227);">
  <br>
  <h3 class="font-weight-bold text-center">About Weather Station</h3>
  <br>
</div>

<div class="p-5" style="background-color: rgba(10,10,10,0.8)" >

  <!--Section: Content-->
  <section>

    <div class="row align-items-center">

      <div class="col-lg-6 mb-4">
        <p class="lead jus" style="color: rgb(227,227,227);">Whole system is based on two units - Raspberry Pi controller, and weather box with sensors.</p><br>
        <p style="color: rgb(180,180,180);"><b>On-board sensors set:</b> PMS7003 (air quality), BME280 (temperature, humidity, pressure), BH1750 (light), and DS18B20 (temperature).<br>
          <br><b>Cover:</b> TFA Dostmann 98.1114,02</p>
      </div>

      <div class="col-lg-6 ">

        <div id="mdb-lightbox-ui"></div>

        <div class="d-grid mdb-lightbox">
          <figure class="item">
            <a href="assets/devices1.jpeg"
               class="z-depth-1 rounded" data-size="1600x1067">
              <img src="assets/devices1.jpeg" />
            </a>
          </figure>
          <figure class="item">
            <a href="assets/devices2.jpg"
               class="z-depth-1 rounded" data-size="1600x1067">
              <img src="assets/devices2.jpg" />
            </a>
          </figure>
          <figure class="item">
            <a href="assets/devices3.jpg"
               class="z-depth-1 rounded" data-size="1600x1067">
              <img src="assets/devices3.jpg" />
            </a>
          </figure>
          <figure class="item">
            <a href="assets/devices4.jpg"
               class="z-depth-1 rounded" data-size="1600x1067">
              <img src="assets/devices4.jpg" />
            </a>
          </figure>
        </div>

      </div>

    </div>

  </section>
  <!--Section: Content-->

</div>
<div class="container my-5">.</div>
<div class="container my-5">.</div>
<div class="container my-5">.</div>
<div class="container my-5">.</div>

