<div class="container mb-5">

  <div class="my-5 text-center" style="background-color: rgba(10,10,10, .8); color: rgb(227,227,227);">

    <h3 class="font-weight-bold text-center p-5">Home Weather Station - Current Measurements</h3>

  </div>

  <!--Section: Content-->
  <section class="p-5" style="background-color: rgba(10,10,10, .7); color: rgb(227,227,227);">

    <h3 class="text-center font-weight-bold mb-5">Statistics - average air contamination</h3>

    <div class="row d-flex justify-content-center">

      <div class="col-md-6 col-lg-4 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fas fa-smog mr-2" style="color: #00796b;"></i>
          <span class="d-inline-block count-up">{{dailyLatestAverage.pm25}} μg/m3</span>
        </h4>
        <p class="font-weight-normal">Last day (PM2.5) </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fas fa-smog mr-2" style="color: #00796b;"></i>
          <span class="d-inline-block count1">{{monthlyLatestAverage.pm25}} μg/m3</span>
        </h4>
        <p class="font-weight-normal">Last month (PM2.5)</p>
      </div>

    </div>

  </section>
  <!--Section: Content-->

  <section class="p-5 text-white mt-4" style="background-color: rgba(10,10,10,0.8)" >
    <div>
      <p class="font-small">Air Purity - Daily</p>
      <canvas height="300" mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets1"
              [labels]="chartLabels1"
              [colors]="chartColors"
              [options]="chartOptions1"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </section>

  <section class="p-5 text-white mt-4" style="background-color: rgba(10,10,10,0.8)" >
    <div>
      <p class="font-small">Air Purity - Monthly</p>
      <canvas height="300" mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets2"
              [labels]="chartLabels2"
              [colors]="chartColors"
              [options]="chartOptions2"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </section>


  <br>
  <!--Section: Content-->

</div>
