<div class="container">

  <!-- Header Section -->

  <!-- Jumbotron -->
  <div class="container p-0">

    <!-- Card image -->
    <div class="text-center">
      <a routerLink="/">
        <img src="https://i.imgur.com/K2fWce4.png">
      </a>
    </div>

  </div>
  <!-- Jumbotron -->

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal lighten-3" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/">Weather App</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" routerLink="/" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/history" mdbWavesEffect>History</a>
        </li>

      </ul>
      <!-- Links -->

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->



  <!-- Main Body -->
  <router-outlet></router-outlet>
  <!-- /.Main Body -->

  <!-- Footer Section -->
  <footer class="page-footer font-small teal pt-4">


    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-3">
          <div class="mb-5 flex-center">

            <!-- GitHub +-->
<!--            <a href="http://github.com/darkonion/" class="gplus-ic">-->
<!--              <i class="fab fa-github fa-lg white-text fa-2x"> </i>-->
<!--            </a>-->

          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>


