<section class="p-5 text-white mb-4" style="background-color: rgba(10,10,10,0.8)" >
  <div>
    <p class="font-small">Humidity and Pressure - {{periodLabel}}</p>
    <canvas height="300" width="10000" mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  <div class="text-center">
    <div class="btn-group btn-group-sm mt-5 border border-light rounded-sm" role="group" aria-label="Basic example">
      <button (click)="changePeriod(1)" mdbBtn type="button" color="link" size="sm" class="waves-light text-white" mdbWavesEffect>One Day</button>
      <button (click)="changePeriod(3)" mdbBtn type="button" color="link" size="sm" class="waves-light text-white" mdbWavesEffect>3 Days</button>
      <button (click)="changePeriod(5)" mdbBtn type="button" color="link" size="sm" class="waves-light text-white" mdbWavesEffect>5 Days</button>
    </div>
  </div>
</section>
